.table-carreras {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;


    .evento-carreras-td {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--Negro, #000);
        width: 100% !important;
        height: 4rem;


        h4 {
            color: #FE0 !important;
            font-family: goldman-regular;
            font-size: 2.4rem;
            text-align: center;
        }
    }

    .horario-carreras-td {
        border-bottom: 1px solid var(--Blanco, #FFF);
        background: var(--Amarillo, #FE0);
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            font-family: goldman-regular;
            color: #000;
            font-size: 2.4rem;
        }

    }

    .categoria-carreras-td {
        border-bottom: 1px solid var(--Blanco, #FFF);
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            font-family: goldman-regular;
            color: #FE0;
            font-size: 2.4rem;
        }
    }

    .tipo-carreras-td {
        border-bottom: 1px solid var(--Blanco, #FFF);
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            font-family: roboto-regular;
            color: white;
            font-size: 2.4rem;
            text-align: center;
        }
    }

    .title-pilotos-carreras {
        background-color: #000;
        height: 4rem;
        padding: 0 1rem;
        width: 100%;
    }

    .description-pilotos-carreras {
        width: 100% !important;
    }

    .title-carreras-th {
        height: 6.5rem;
        width: 100% !important;
        background-color: #C4C4C4;

        h4 {
            color: #000000;
        }
    }

    .img-carreras-td {
        border-bottom: white solid 1px;

        img {
            width: 5rem;
        }

    }

}


.button-tanda {
    width: 23rem;
    height: 4rem;
    border: 1px solid var(--Amarillo, #FE0);
    background: var(--Negro, #000);
    color: var(--Amarillo, #FE0);
    font-family: goldman-regular;
    font-size: 2rem;
    padding: 0.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Agrega puntos suspensivos (...) al final del texto truncado */
}



.last-button, .button-finalizado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 4rem;
    border: 1px solid var(--Amarillo, #FE0);
    background: var(--Negro, #000);
    color: var(--Amarillo, #FE0);
    font-family: goldman-regular;
    font-size: 2rem;
    padding: 0.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.button-tanda:hover {
    background-color: #FE0;
    color: #000;
}

.button-pilotos,
.button-horarios {
    border: 1px solid var(--Blanco, #FFF);
    background: var(--Negro, #000);
    width: 21rem;
    height: 4rem;
    color: white;
    font-family: goldman-regular;
    font-size: 2rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
}

.contenedor-descripcion-carreras {
    margin: 2rem 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;


    .descripcion-carreras {
        margin: 2rem 0;
        width: 95%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
        padding: 2rem 0;

        h2 {
            color: var(--Amarillo, #FE0);
            font-family: goldman-bold;
            font-size: 2.8rem;
        }

        h3 {
            font-family: goldman-regular;
            font-size: 2rem;
        }
    }

    .up-descripcion-carreras {
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .select-tandas-carreras {
        background: var(--Negro, #000);
        padding-top: 2rem;
        height: 50%;

        .buttons-up-carreras,
        .buttons-down-carreras {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: start;
            margin: 1rem 0;

        }

        .selected-button {
            background-color: yellow;
            color: black;
            /* Agrega aquí cualquier otro estilo que desees */
        }


    }
}

.day-carreras {
    width: 6.5rem;
    height: 4rem;
    background: var(--Gris-claro, #C4C4C4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Amarillo, #FE0);

    h4 {
        font-family: goldman-bold;
        font-size: 2rem;
    }

}

.contenedor-table-carreras {
    .spinner-carreras {
        display: flex;
        justify-content: center;

    }

    h3 {
        padding-left: 4.5rem;
    }
}


// RALLY