#detail-carreras {
    margin: 4rem 0;
}

.title-detail-carreras {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4rem;

    h2 {
        color: #FE0;
        font-size: 2.8rem;
    }
}

.carrera-detail-carreras {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--Negro, #000);

    .fecha-detail-carreras {
        display: flex;

        h3 {
            color: #FE0;
            font-family: goldman-regular;
            font-size: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
        }
    }

    .lugar-detail-carreras {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        padding-left: 3rem;

        div {
            margin: 0 0.5rem;
        }

        h3 {
            padding-top: 0.2rem;
            width: 11rem;
        }
    }

    .circuito-detail-carreras {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;

        img{
            width: 8rem;
        }
    }
}

