.header,
.header-mobile {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-image: url(images/fondo-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    .header-layout {
        width: 100%;
    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1.6rem;

    }


}

.header-mobile {
    display: flex !important;
    justify-content: space-between !important;
    background-image: url(images/header-mobile.png);
}

.radio,
.radio-mobile {
    width: 15rem;
    height: 4rem;
    border: 1px solid var(--Amarillo, #FE0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1.6rem;



    audio {
        width: 18rem;
        color: #000 !important;

    }

    audio::-webkit-media-controls-panel {
        background-color: #FFEE00;
        /* Cambia el color de fondo de los controles */
        color: #000;
        /* Cambia el color del texto de los controles */
    }

    audio::-webkit-media-controls-play-button {
        color: #ff0000;
        /* Cambia el color del botón de reproducción */
    }

    audio::-webkit-media-controls-volume-slider {
        background-color: #ff0000;
        /* Cambia el color del control deslizante de volumen */
    }

    .content-radio {
        display: flex;

        h3 {
            font-size: 1.35rem;
            font-family: roboto-bold;
            color: white;
        }
    }

    .span-radio {
        margin-right: 1rem;
    }

}

.radio-mobile {
    width: 6.4rem;
    display: none;
}

.header-mobile {
    display: none !important;

    .logo {
        img {
            width: 15rem !important;
        }
    }
}

.nav-desktop {
    background: var(--Negro, #000) !important;
    height: 6.5rem;
    width: 100% !important;
    position: relative;
    position: sticky !important;
    top: 0;
    z-index: 111111;

    .navbar-nav {
        width: 100% !important;
        display: flex;
        justify-content: space-around;
        position: relative;
        z-index: 111;

    }

    .dropdown-menu {
        background: var(--Negro, #000) !important;
        padding: 2rem 4rem;
        z-index: 11111 !important;
    }

    .nav-item {
        width: 100% !important;
        display: flex;
        justify-content: center;

        .nav-link {
            color: white !important;
            font-family: roboto-medium;
            font-size: 1.8rem;
        }


        .cat {
            .dropdown-item {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-top: 2rem;

                h2 {
                    font-size: 1.5rem;
                    color: #FFEE00;
                }
            }

            height: 9rem;
            border-right: 1px solid #FE0;
            border-bottom: 1px solid #FE0;

        }


        .tc {
            display: flex;
            align-items: center;
            border-right: 1px solid #FE0;
            border-bottom: 1px solid #FE0;

            .dropdown-item {
                border-right: solid transparent;
                border-bottom: solid transparent;
                display: flex;
                align-items: center;
                justify-content: space-around;

                h2 {
                    font-size: 1.5rem;
                    color: #FFEE00;
                }
            }
        }

    }

    .nav-item:hover {
        background-color: #FFEE00 !important;

        .nav-link {
            color: #000 !important;
        }

    }


}

.dropdown-item {
    height: 100% !important;
}

.dropdown-item:hover {
    background-color: rgba(255, 238, 0, 0.856) !important;

    h2 {
        color: #000 !important;
    }
}

.nav-categoria {
    z-index: 1 !important;

    .navbar-brand {
        img {
            width: 13rem !important;
        }
    }


    .navbar-nav {
        width: 100%;
    }

    .nav-item {
        width: 100% !important;
        font-size: 1.8rem;

    }




}

.nav-link {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.nacionales {
    width: 400%;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.internacionales {
    width: 400%;
    /* Establece el ancho al 400% */
    position: absolute !important;
    /* Posiciona de forma absoluta */
    left: -100% !important;
    /* Alinea desde el borde izquierdo */
    top: 0;
    /* Asegura que esté alineado desde la parte superior */
    margin-top: 0;
    /* Ajusta el margen superior */
    padding-left: 0;
    /* Ajusta el padding izquierdo */

}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Ajusta el valor de z-index según sea necesario */
    height: 6.5rem;
    /* Ajusta la altura del header pegajoso */
    /* Agrega otros estilos según sea necesario */
}

.links-clases {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    height: 100%;

    .button-clases {
        width: 5rem;
        background: var(--Negro, #000);
        color: var(--Amarillo, #FE0);
        font-family: goldman-regular;
        font-size: 2rem; 
        padding: 0.3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem 0;
        border-radius: 10px;
    }

    .button-clases:hover{
        background-color: #ff0000;
    }
}

.navbar-mobile {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 111111; 
    height: 6rem;
    background-color: #000;
    display: none !important;

    .offcanvas-body {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .offcanvas-header-2{
        margin-bottom: 2rem;
    }

    .cerrar {
        background-color: transparent !important;
        border: none;

        img {
            width: 2rem !important;
            border: none;
        }
    }

    .navbar-nav {
        .container-fluid {
            display: flex !important;
            align-items: center !important;
        }


    }

    .navbar-toggler-icon {
        font-size: 1.8rem;
        /* Cambiar el tamaño del icono */
    }

    .navbar-toggler:hover {
        border: solid 4px #fe0;
    }

    .nav-item {
        .nav-link {
            font-size: 2rem !important;
            margin: 0.3rem 0;
        }
    }

    .dropdown {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: start;


        a {
            font-size: 2rem !important;
            margin: 0.3rem 0;
        }
    }

    .dropdown-menu {
        width: 100%;
        background: rgba(0, 0, 0, 0.213) !important;

        .link-navbar-responsive {
            width: 100% !important;
            display: flex;
            justify-content: space-between;
            align-items: center;



            h2 {
                font-size: 2.1rem !important;
                padding-top: 0.3rem;
            }

            div {
                margin: 0 0.7rem;
            }
        }
    }

    .redes {
        justify-content: center;
        display: flex;
        margin-top: 5rem !important;

        a {
            margin: 0 0.5rem;

        }
    }
}


@media (max-width: 1000px) {
    .navbar-brand {
        padding: 1rem 0 !important;
    }

    .nav-item {
        .nav-link {

            font-size: 1.65rem !important;
        }
    }

    .nav-desktop {
        display: none !important;
    }

    .navbar-mobile {
        display: inherit !important;

    }


}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: inherit !important;
        display: flex !important;
        justify-content: space-between !important;
    }

    .span-radio-mobile {
        display: inherit !important;
    }

    .radio,
    .h3-radio {
        display: none !important;
    }

    .radio-mobile {
        display: inherit !important;
    }

    .reproductor {
        display: none !important;
    }

    .nav-categoria {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        position: inherit !important;


        .navbar-brand {
            width: 100% !important;
        }

        .navbar-collapse {
            width: 100%;
        }

        .navbar-nav {
            display: flex !important;
            width: 100% !important;

            .nav-item {
                width: 25% !important;

            }
        }

    }

    .huella {
        margin-top: 8rem;
    }

}

@media (max-width: 550px) {
    .nav-categoria {
        .navbar-nav {
            flex-direction: column !important;

            .nav-item {
                width: 100% !important;
                height: 6rem;
            }
        }
    }

    .huella {
        margin-top: 24rem;
    }
}