.header{
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-image: url(images/fondo-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    .redes{
        display: flex;
        justify-content: center;
    }
}