#nosotros{
    margin-top: 6rem;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background: radial-gradient(100% 100% at 0% 100%, #4F2B01 0%, #3A3601 14.78%, #2F2B01 75.94%, #000 100%);

    .history-logo {
        display: flex;
        justify-content: center;

    }


    .history-title-img {
        display: flex;
        border: 1px solid var(--Amarillo, #FE0);
        position: relative;
        height: 16rem;

    }

    h2 {
        font-family: goldman-regular;
        font-size: 2.8rem;
        color: #FE0;


    }

    .history-title {
        display: flex !important;
        align-items: end !important;
    }

    .history-title-img .images-container {
        position: absolute;
        top: -30px;
        right: 150px;
        display: flex;
    }

    .history-title-img .images-container img {
        margin-right: 10px;
    }
}
.history-description{
    .cuerpo-noticia-detail{
        p{
            margin: 0 !important;
        }

        .compartir-noticia{
            padding-top: 4rem;
        }
    }
}


#equipo {
    background: var(--Negro, #000);
margin: 4rem 0;
padding: 4rem 0;
padding-left: 4rem;
    h2{
        color: #FE0;
        margin-bottom: 1rem;
        font-size: 28px;
    }
}

.section-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 


    .card-equipo {
        border-right: 1px solid var(--Amarillo, #FE0);
        border-bottom: 1px solid var(--Amarillo, #FE0);
        background: var(--Negro, #000);
        padding-right: 0;
        width: 25%;
        height: 25.7rem;


        .card-equipo-description {
            display: flex;
            justify-content: space-around;

            .card-equipo-name {
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 3rem;
                width: 50%;

                h3 {
                    font-size: 2.3rem;
                    font-family: goldman-regular;
                    color: white;
                    text-align: right;
                    width: 13rem;
                }
            }



        }

        .card-equipo-rol {
            background-color: var(--Amarillo, #FE0);
            margin-left: 2rem;

            h4 {
                text-align: center;
                font-family: goldman-bold;
                font-size: 1.4rem;
            }
        }

    }
}