// NOTICIAS PRINCIPALES
#principales {
    margin-top: 4rem;
}

.card-primarias,
.card-secundarias,
.card-terciarias {
    h3 {
        font-family: goldman-bold;
        font-size: 1.8rem;
        padding: 0.1rem;

    }

    h4 {
        color: white;
        font-family: roboto-regular;
        font-size: 1.6rem;
        width: 10rem;
    }
}

.card-primarias {
    height: 56rem;
    border-bottom: 1px solid var(--Amarillo, #FE0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        width: 100%;
        font-family: roboto-medium;
        font-size: 1.8rem;
    }

    .category {
        height: 6.5rem !important;
    }

}

.card-secundarias,
.card-terciarias {
    height: 27.5rem;
    border-bottom: 1px solid var(--Amarillo, #FE0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h3 {
        width: 100%;
    }

    .title-subtitle {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-left: 1rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.70) 100%);
        width: 100%;
        height: 50%;
        padding-left: 2rem;
        padding-bottom: 0.5rem;
    }

    .news-video {
        width: 90%;
        height: 50%;
        display: flex;
        align-items: end;
        padding-top: 1rem !important;
    }

}

.news-video {
    width: 95%;
    height: 70%;
    display: flex;
    align-items: end;
    padding-top: 3rem;
    position: relative;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.70) 100%);
    width: 100%;
    height: 35%;
    padding-left: 2rem;
    padding-bottom: 0.5rem;

    h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 100%;
        font-size: 2.8rem;
    }
}

.container-primarias:hover {
    filter: brightness(110%);
    transform: scale(1.01);
    cursor: pointer;
}

.container-secundarias:hover .card-secundarias {
    filter: brightness(110%);
    transform: scale(1.01);
    cursor: pointer;
}

.container-terciarias:hover .card-terciarias {
    filter: brightness(120%);
    transform: scale(1.01);
    cursor: pointer;
}

.cargando-mas-noticias {
    display: flex;
    justify-content: center;

    .spinner-xl {
        margin: 1rem 0;
        width: 4rem;
        height: 4rem;
    }
}

// NOTICIAS GENERALES
#generales {
    margin-top: 1rem;
}

.card-general {
    height: 30rem;
    background-color: black;
    display: flex;
    position: relative;
    border-bottom: 1px solid #FE0;

    .card-general-img {
        width: 45%;
        height: 100%;
        padding: 0.9rem;
        box-shadow: 0px 5px 10px rgba(58, 58, 58, 0.103);


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;

        }
    }

    .description {
        width: 55%;
        padding: 0 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .title-subtitle {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: end;
        height: 100%;
        width: 100%;
        margin-bottom: 2rem;

        h2 {
            font-size: 2.6rem;
        }

        h3 {
            font-size: 1.7rem;
        }
    }
}

.card-general:hover {
    filter: brightness(120%);
    transform: scale(1.01);
    cursor: pointer;
}

.category {
    display: flex;
    justify-content: end;
    margin: 1.5rem 0 !important;


    .h4-category {
        padding: 0.2rem 1rem;
        background: rgba(255, 255, 255, 0.80);
    }

    h4 {
        text-align: end !important;
        font-size: 1.8rem !important;
        font-family: goldman-regular !important;
        font-weight: 400;
        color: var(--Rojo, #FE0000) !important;
    }
}


// NOTICIA DETAIL
#noticia {
    margin: 4rem 0;
}

.card-noticia-detail {

    .top-card-noticia-detail {
        height: 65rem;
    }

    .category {
        width: 25rem;
    }

    .title-noticia-detail {
        display: flex;
        justify-content: space-between;
        align-items: start;
        background-color: black;
        height: 25%;
        padding-top: 3rem;
        padding-left: 4rem;
    }

    .image-noticia-detail {
        height: 80%;
        border-bottom: 1px solid var(--Amarillo, #FE0);

    }

    .video-noticia-detail {
        height: 100%;
        display: flex;
        align-items: start;

    }



    .img-cuerpo-noticia-detail {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        img {
            width: 90%;
        }
    }
}

// GLOBALES
.cuerpo-noticia-detail {
    border-top: 1px solid var(--Amarillo, #FE0);
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #7A7A7A 0%, #E0E0E0 4.67%);

    p {
        color: black;
        padding: 3rem;
        font-family: roboto-regular;
        font-size: 1.8rem;
    }

    .compartir-noticia {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 8rem;
        background: linear-gradient(180deg, #7A7A7A 0%, #E0E0E0 80%);
        padding-right: 3rem;

        div {
            display: flex;
            align-items: center;

            h4 {
                font-family: roboto-bold;
                font-size: 1.8rem;
                padding-top: 1rem;
            }

            a {
                margin: 0 0.5rem;
            }
        }
    }
}

// CALL ACTION NOTICIAS
#call-action-noticias {
    margin: 4rem 0;
}

.title-ultimas-noticias {
    height: 4rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;


    h3 {
        font-family: goldman-regular;
        font-size: 2.8rem;
        text-align: center;
        color: #FE0;
    }
}




.container-noticias {
    width: 100%;

    .call-action-title-subtitle {
        display: flex;
        flex-direction: column;
        justify-content: end;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.70) 100%);
        width: 100%;
        height: 100%;
        padding-left: 2rem;



        h2 {
            margin-top: 4rem;
            margin-bottom: 2rem;
            width: 100%;
            font-size: 2.8rem;
            margin-bottom: 0.5rem;


        }

        h3 {
            font-size: 1.6rem;
        }
    }

    .call-action-video {
        width: 100%;
        height: 100%;
    }

    .card-ultimas-noticias {
        width: 100%;
        height: 25rem;
        position: relative;
        border-bottom: 1px solid var(--Amarillo, #FE0);
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .iframe-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 67%;
            box-shadow: 0px 5px 10px rgba(58, 58, 58, 0.103);
            pointer-events: none;
        }

        .card-ultimas-noticias-img {
            width: 100%;
        }
    }


}

@media (max-width: 1000px) {
    .container-primarias {
        .card-primarias{
              height: 27.5rem;
        border-bottom: 1px solid var(--Amarillo, #FE0);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h3 {
            width: 100%;
        }

        .title-subtitle {
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-left: 1rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.70) 100%);
            width: 100%;
            height: 50%;
            padding-left: 2rem;
            padding-bottom: 0.5rem;
        }

        .news-video {
            width: 90%;
            height: 50%;
            display: flex;
            align-items: end;
            padding-top: 1rem !important;
        }
        }
      

    }


}
@media (max-width: 1100px) {
.card-general{
    position: relative;
}
.category{
    position: absolute;
    top: 1%;
    right: 2%;
    background-color: rgba(255, 255, 255, 0.852) !important;

    .h4-category{

    }
}

.card-general-img{
    width: 100% !important;
    padding: 1.5rem !important;
    img{
        width: 100% !important;
    }
}

  .card-general {
        flex-direction: column;
        height: auto;

        .card-general-img {
            width: 100% !important;
            height: 40%;
        }

        .description {
            width: 100%;
            height: 60%;
        }

        .title-subtitle {
            display: flex;
            justify-content: end !important;
            align-items: start;
            padding-left: 1.5rem;



            h2 {
                margin: 0;
                margin-bottom: 1.5rem;
                font-size: 2.4rem;
            }

            h3 {
                font-size: 1.5rem;
            }

        }

        .category {
            justify-content: center;
            align-items: center;
            margin: 0 !important;
            margin-top: 0.7rem !important;

            .h4-category {

                h4 {
                    font-size: 1.7rem !important;
                }

            }

        }
    }

// .card-general{
//     .title-subtitle{
//         h2 {
//         font-size: 2.4rem;
//     }  

//     h3{
//         font-size: 1.6rem;    
//     }
//     }
//   .category{
//     h4{
//         font-size: 1.6rem !important;
//     }
//   }
// }


}

