* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #e6e8e6;

    h2 {
        color: white;
        font-size: 4rem;
        font-family: goldman-bold;
    }

    h3 {
        color: white;
        font-size: 2rem;
        font-family: roboto-medium;
    }

}

body, main {
    background-color: var(--gris-oscuro-fondo, #323232) !important;
}





@font-face {
    font-family: "goldman-regular";
    src: url(/public/fonts/Goldman-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "goldman-bold";
    src: url(/public/fonts/Goldman-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-regular";
    src: url(/public/fonts/Roboto-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-medium";
    src: url(/public/fonts/Roboto-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-bold";
    src: url(/public/fonts/Roboto-Bold.ttf);
    font-display: swap;
}



a {
    color: white !important;
    text-decoration: none !important;
}


.none {
    display: none !important;
}

main{
    
}