.tabla-campeonato {
    width: 100% !important;
    margin: 0 1rem;

    .row {
        width: 100%;
    }
}

.auto-piloto {
    margin-right: 1.5rem;

    img {
        width: 9.5rem;
    }
}


th {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
        font-family: goldman-regular;
        font-size: 2.4rem;
        color: white;
        text-align: center;
    }
}


tr {
    height: 6.5rem;
}

.row {
    margin: 0;
}


// FECHAS

.pos-carreras {
    h4 {
        color: #FE0 !important;
        text-align: center !important;
    }


    .piloto-carreras,
    .marca-carreras,
    .vueltas-carreras,
    .tiempos-carreras,
    .dif-carreras {
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

.piloto-carreras,
.marca-carreras,
.vueltas-carreras,
.tiempos-carreras,
.dif-carreras {
    display: flex;
    justify-content: center;
    text-align: center;
}

.marca-carreras-td,
.vueltas-carreras-td,
.tiempo-carreras-td,
.dif-carreras-td {
    border-bottom: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h4 {
        font-family: roboto-medium;
        font-size: 2.4rem;
    }
}

.img-carreras-td {
    height: 100%;
}


.pos-carreras-td {
    padding: 0 !important;

    h4 {
        background: var(--Amarillo, #FE0);
        font-family: goldman-regular;
        font-size: 2.4rem;
        height: 6.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-bottom: white 1px solid;
    }
}

.grupo-carreras-td {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-bottom: 1px solid white;
    height: 100%;

    h4 {
        text-align: center;
        font-family: roboto-regular;
        color: white;
        font-size: 2.4rem;
    }
}

.marca-carreras-td {
    height: 100%;

    img {
        width: 5rem;
    }
}

.piloto-carreras-td {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: white 1px solid;
    padding-left: 2rem !important;

    h4 {
        font-family: goldman-regular;
        color: #FE0;
        font-size: 2.4rem;
    }
}

.vueltas-carreras-td {
    height: 100%;

    h4 {
        font-family: roboto-medium;
    }
}

.tiempo-carreras-td {
    height: 100%;
}

.dif-carreras-td {
    height: 100%;
}




// CAMPEONATO

.nro-piloto-td {
    height: 100%;
    border-bottom: 1px solid white;

    .h4-nro-piloto {
        color: #FE0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9rem;
        height: 6.5rem;
        font-family: goldman-regular;
        font-size: 2.4rem;

    }
}

.th-piloto {
    justify-content: left;
    padding-left: 2rem !important;
}

.th-victorias {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-campeonato {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    margin: 1.5rem 0;
}

.button-campeonato {
    width: 50%;
    height: 4rem;
    background-color: #000;
    color: #FE0;
    font-family: goldman-bold;
    font-size: 2.8rem;
    border-style: none;
}

.button-campeonato.selected {
    border: 1px solid #FE0;
}

.h4-pos-tabla {
    background: var(--Amarillo, #FE0);
    font-family: goldman-regular;
    font-size: 2.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-bottom: white 1px solid;
    width: 11rem;

}



@media (max-width: 1000px) {

    .tabla-campeonato {
        th {

            h4 {
                font-size: 2.2rem;

            }
        }
    }

    .grupo-carreras-td,
    .dif-carreras-td,
    .nro-piloto-td,
    .h4-nro-piloto,
    .h4-pos-tabla,
    .vueltas-carreras-td,
    .dif-carreras,
    .tiempo-carreras,
    .vueltas-carreras,
    .piloto-carreras,
    .pos-carreras,
    .tiempo-carreras-td,
    .piloto-carreras-td,
    .img-carreras,
    .pos-carreras-td {
        h4 {
            font-size: 2.1rem;
        }
    }

    .h4-piloto,
    .h4-pos-tabla,
    .h4-nro-piloto {
        font-size: 2.2rem !important;
    }

    .h4-pos-tabla {
        width: 7rem;
    }

    .h4-nro-piloto {
        display: flex;
        justify-content: start !important;
        text-align: start !important;
    }

    // CARRERAS DETAIL

    .h4-nro-tabla {
        width: 4rem !important;
        font-size: 2rem !important;
    }

    .fecha-detail-carreras {
        h3 {
            font-size: 2rem !important;
        }
    }

    .lugar-detail-carreras {
        h3 {
            font-size: 1.7rem !important;

        }
    }


}

@media (max-width: 768px) {

    .tabla-campeonato {
        th {
            justify-content: center;

            h4 {
                font-size: 1.8rem;

            }
        }
    }

    .pos-carreras-td{
        border-bottom: solid 1px white;
        height: 100%;
        h4{
           background-color: transparent !important;
        color: white !important;  
        border: none;
        }
       
    }

    .grupo-carreras-td,
    .dif-carreras-td,
    .nro-piloto-td,
    .h4-nro-piloto,
    .h4-pos-tabla,
    .vueltas-carreras-td,
    .dif-carreras,
    .tiempos-carreras,
    .vueltas-carreras,
    .piloto-carreras,
    .pos-carreras,
    .tiempo-carreras-td,
    .tiempo-carreras,
    .piloto-carreras-td,
    .pos-carreras-td, .img-carreras {

        h4 {
            font-size: 1.8rem !important;
        }
    }

    .h4-piloto,
    .h4-pos-tabla,
    .h4-nro-piloto {

        font-size: 1.8rem !important;

    }

    .marca-carreras-td {
        img {
            width: 4rem !important;
        }
    }

    // CARRERAS DETAIL

    .lugar-detail-carreras,
    .circuito-detail-carreras {
        width: 30% !important;
    }

    .fecha-detail-carreras {
        width: 40% !important;
    }

    .h4-pos-tabla {
        width: 5rem;
    }


}

@media (max-width: 600px) {
    .tabla-campeonato {
        th {
            justify-content: center;

            h4 {
                font-size: 1.7rem;

            }
        }

        .none-th {
            h4 {
                opacity: 0;
            }
        }

        .th-victorias {
            img {
                width: 2rem;
            }
        }

    }

    .grupo-carreras-td,
    .dif-carreras-td,
    .nro-piloto-td,
    .h4-nro-piloto,
    .h4-pos-tabla,
    .vueltas-carreras-td,
    .dif-carreras,
    .tiempo-carreras,
    .vueltas-carreras,
    .piloto-carreras,
    .pos-carreras,
    .tiempo-carreras-td,
    .piloto-carreras-td,
    .pos-carreras-td, 
    .img-carreras {
        display: flex !important;
        justify-content: center !important;

        h4 {
            font-size: 1.6rem !important;
        }
    }

    .h4-piloto,
    .h4-pos-tabla,
    .h4-nro-piloto {

        font-size: 1.6rem !important;
        width: 100% !important;

    }

    .h4-pos-tabla {
        border-left: solid 1px white;
    }

    .marca-carreras-td {
        padding-right: 20px !important;

        img {
            width: 3.5rem !important;
        }
    }

    .h4-pos-tabla {
        width: 4rem;
    }

    .button-campeonato {
        font-size: 2rem !important;
    }

    // CARRERAS DETAIL

    .h4-nro-tabla {
        width: 2.5rem !important;
        font-size: 1.6rem !important;
    }

    .fecha-detail-carreras {
        h3 {

            font-size: 1.6rem !important;
        }
    }

    .lugar-detail-carreras {

        h3 {
            font-size: 1.4rem !important;
            width: 5rem !important;
        }
    }

    .circuito-detail-carreras {
        img {
            width: 6rem !important;
        }
    }

}

@media (max-width: 495px) {

    .h4-nro-tabla {
        background-color: transparent !important;
        color: white !important;
    }

    .fecha-detail-carreras {
        h3 {

            font-size: 1.4rem !important;
        }
    }


    .circuito-detail-carreras {
        img {
            width: 5.5rem !important;
        }
    }

}

@media (max-width: 375px) {
    .tabla-campeonato {
        th {
            justify-content: center;

            h4 {
                font-size: 1.5rem;

            }
        }

    }

    .grupo-carreras-td,
    .dif-carreras-td,
    .nro-piloto-td,
    .h4-nro-piloto,
    .h4-pos-tabla,
    .vueltas-carreras-td {
        h4 {
            font-size: 1.4rem;
        }
    }

    .grupo-carreras-td {
        background-color: transparent !important;
    }

    .h4-piloto,
    .h4-pos-tabla,
    .h4-nro-piloto {
        font-size: 1.4rem !important;

    }

    .h4-pos-tabla {
        border-left: solid 1px white;
    }

    .marca-carreras-td {
        padding: 0 !important;

        img {
            width: 3rem !important;
        }
    }

    .h4-pos-tabla {
        width: 4rem;
    }

    .button-campeonato {
        font-size: 1.8rem !important;
    }

}