#vivo {
    display: flex;
    overflow: hidden !important;
}

.slick-prev {
    left: 0.5% !important;
    z-index: 11111;

}

.slick-next {
    right: 0% !important;
    z-index: 11111;
}

.slider-vivo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    overflow: hidden !important;

}

.contenedor-vivo {
    display: flex;
    align-items: center;
    width: 100%;


    .h3-sab-dom {
        display: flex;
justify-content: center;
align-items: center;
        writing-mode: vertical-rl;
        /* Vertical, de abajo hacia arriba */
        text-orientation: mixed;
        /* Orientación de texto mixta para que los caracteres estén en posición vertical */
        background-color: #000;
        width: 4rem;
        height: 10rem;
        border-radius: 10px;
    }


    .contenedor-sabado-vivo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }


}

.contenedor-categoria-vivo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;

    .contenedor-img-categoria {
        width: 13rem;


        img {
            width: 100%;
        }
    }
}

.vivo {
    height: 9rem;
    border-right: solid 1px #FE0;
    width: 100%;

    :hover {
        background-color: rgb(0, 0, 0);
        border-radius: 8px;
    }


    .contenedor-tanda {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: end;

        margin: 0 0.5rem;
        padding: 0.5rem 0;

        h4 {
            color: rgb(0, 0, 0);
            font-family: roboto-bold;
            background: var(--Gris-oscuro, #737373);

        }

        img {
            margin: 0 1rem;
        }

        .tanda {
            display: flex;
            justify-content: center;
            align-items: end;
            width: 100%;

            .tanda-info {
                background: var(--Gris-oscuro, #737373);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 2.5rem;
            }

            h4:first-of-type {
                margin-right: 0.5rem;

                /* Establece el margen solo en el primer h4 */
            }

            h4 {
                margin: 0 0.1rem;
            }
        }
    }

}


// RESULTADOS EN VIVO
.contenedor-botonera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.h2-tanda-vivo {
    color: var(--Amarillo, rgb(255, 255, 255));
    font-family: goldman-bold;
    font-size: 2.8rem;
}

.up-botonera {
    width: 95%;
    height: 40% !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);

    h2 {
        color: var(--Amarillo, #FE0);
        font-family: goldman-bold;
        font-size: 3rem;
    }
}

.botonera {
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    background: var(--Negro, #000);
    padding-left: 2rem;

    .botones {
        display: flex;
        .button-tanda{
            width: 27rem;
        }
    }

    .button-tanda {
        text-align: center;
    }
}

.tabla-resultado{
    margin: 2rem 0;
    margin-bottom: 5rem;
}


@keyframes titilar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.titilar {
    animation: titilar 1s infinite;
}