.tabla-carreras {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;

    .table-carrera {
        margin: 1rem 0;
        border-bottom: 1px solid var(--Negro, #000);
        background: var(--gris-oscuro-fondo, #323232);
    }

    .title-table-carreras {
        width: 100%;
        background-color: black;
        height: 4.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-family: goldman-regular;
            color: #FE0;
        }
    }

    .description-table-carreras {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;
    }

    .description-table-left {
        display: flex;
        justify-content: center;
        align-items: center;

        .h4-fecha {
            font-family: goldman-regular;
            font-size: 2.4rem;
            color: #FE0;
            margin: 0 0.5rem;
            width: 5rem;

        }

        img {
            margin: 0 1rem;
        }

        .h4-circuito {
            font-family: roboto-regular;
            font-size: 1.8rem;
            color: white;
            margin: 0 1rem;
        }

        .span-table-carreras {

            margin: 0 1rem;
        }

    }



    .play-carreras {
        padding-right: 1.2rem;
    }
}

.lugar-circuito{
    .h4-lugar{
        font-family: roboto-bold;
        font-size: 1.8rem;
        color: white;
        margin: 0.3rem 1rem;
    }
}

.ver-mas {
    border: 1px solid #FE0;
    background: var(--gris-oscuro-fondo, #323232);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.9rem;
    margin: 1rem 0;

    button {
        font-family: roboto-bold;
        color: #FE0;
        font-size: 1.5rem;
        width: 100%;
        background: var(--gris-oscuro-fondo, #323232);
        height: 100%;
    }
}

.ver-mas button:hover{
background-color: #FE0 ;
color: #000;
}


// CALL ACTION CAMPEONATO
.call-action-campeonato {
    h2 {
        font-size: 2.8rem;
        color: #FE0;
        font-family: goldman-bold;
    }

    padding: 0 3rem !important;
    margin: 2.5rem 0;

    .card-call-action-campeonato {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-right: 1px solid var(--Amarillo, #FE0);
        border-bottom: 1px solid var(--Amarillo, #FE0);
        padding: 15px 16px;

        .container-pos {
            width: 25%;
        }

        .container-piloto {
            width: 50%;
            display: flex;
            justify-content: center;
        }

        .container-marca {
            width: 25%;
            display: flex;
            justify-content: end;
        }

        .h4-pos-campeonato {
            color: #FE0;
            font-size: 3.3rem !important;
            font-family: goldman-bold;
        }

        .h4-piloto {
            font-family: goldman-regular;
            font-size: 15px;
            color: white;
            width: 100% !important;

        }


    }

    .ver-tabla-completa {
        h4 {
            span {
                margin-right: 1.2rem;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            width: 15rem !important;
        }
    }

    .img-piloto-call-action-campeonato {
        width: 4.3rem;
    }
}

.ver-tabla-completa{
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
h4{
    margin-left: 1rem;
}
}
}

.banner-mobile{
    display: none;
}


@media (max-width: 1135px) {
    .card-call-action-campeonato {
        .h4-piloto {
            font-size: 1.4rem !important;
        }

        .container-pos {
            .h4-pos-campeonato {
                font-size: 2.9rem !important;

            }

        }

        .container-marca {
            img {
                width: 3.8rem;
            }
        }
    }

}

@media (max-width: 768px) {
.banner-desktop{
    display: none;
}
.banner-mobile{
    display: inherit;
}
}

@media (max-width: 675px) {
 .ver-tabla-completa{
    .h4-piloto{
        display: none !important;
    }
 }   


} 
@media (max-width: 585px) {
    .title-table-carreras{
        h2{
            font-size: 2rem ; 
        }
       
    }
.tabla-carreras{
    .h4-circuito{
        font-size: 1.5rem !important;
    }

    .h4-fecha{
        font-size: 1.5rem !important;
    }

    img{
        width: 3rem;
    }

    .img-fluid{
        width: 8rem !important;
    }


}
}

@media (max-width: 470px) {
    .card-call-action-campeonato{
        .h4-piloto{
            font-size: 1.5rem !important;
        }
    }
 }
