* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #e6e8e6;

    h2 {
        color: white;
        font-size: 4rem;
        font-family: goldman-bold;
    }

    h3 {
        color: white;
        font-size: 2rem;
        font-family: roboto-medium;
    }

}


.margin-title {
    margin: 4rem 0;
}

body,
main {
    background-color: var(--gris-oscuro-fondo, #323232) !important;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spinner-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pl2{
    margin-left: 2%;
    padding: 0 2rem;
    font-size: 3.2rem;
    background-color: black;
    border-radius: 10px;
}


a {
    color: white !important;
    text-decoration: none !important;
}


.none {
    display: none !important;
}


.clicked-button {
    background-color: #323232 !important;
}

.selected-button {
    background-color: yellow !important;
    color: black !important;
}

// LOADER

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loader {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-family: goldman-regular;
    color: white;
}

.loader-text {
    display: inline-block;
    animation: blink 1.5s infinite;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.6;
    text-decoration: none;
    cursor: not-allowed;

}

.custom-iframe {
    height: calc(100% - 70rem - 50rem) !important;
    margin-top: 70rem !important;
    margin-bottom: 50rem !important;
}

.preloader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    h3{
        margin: 0 !important;
        font-style: italic;
    }
  }
  
  .preloader {
    width: 100%;
    opacity: 0;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #fe0;
    margin-top: 10px;
  }

  .semaforo{
    margin-left: 1.5rem;
    img{
        width: 2.6rem;
    }
  }

  .contador {
    text-align: center;
    margin-top: 20px;
  }
  
  .progress-bar {
    height: 5px;
    background-color: #ccc;
    margin-top: 10px;
    transition: width 1s ease-in-out;
  }

@keyframes titilar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Aplica la animación al div */
.vivo-vincular {
    animation: titilar 1s infinite;
    /* La animación dura 1 segundo y se repite infinitamente */
    width: 6rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    h4 {
        color: red !important;
        font-weight: 800;
        font-size: 1.5rem;
    }


}

@font-face {
    font-family: "goldman-regular";
    src: url(/public/fonts/Goldman-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "goldman-bold";
    src: url(/public/fonts/Goldman-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-regular";
    src: url(/public/fonts/Roboto-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-medium";
    src: url(/public/fonts/Roboto-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-bold";
    src: url(/public/fonts/Roboto-Bold.ttf);
    font-display: swap;
}



@media (max-width: 1000px) {
    .none-lg {
        display: none;
    }
}