@use './sass/reset.scss';
@use './sass/navbar.scss';
@use './sass/resEnVivo.scss';
@use './sass/publicidad.scss';
@use './sass/bannerRadio.scss';
@use './sass/noticias.scss';
@use './sass/videos.scss';
@use './sass/categorias.scss';
@use './sass/callActions.scss';
@use './sass/detailCarreras.scss';
@use './sass/detailFecha.scss';
@use './sass/footer.scss';